extends ../template

block variables
    - var title = 'In Young Choi - Frontend Developer';

block content
    .loaderArea
        .cssload-loader.loader
            .cssload-inner.cssload-one
            .cssload-inner.cssload-two
            .cssload-inner.cssload-three
    .wrapper
        section.main
            .default
                header.header
                    .header-logo
                        .logo
                            a.logo__link(href="/")
                                .logo__img
                                    img.logo__pic(src="assets/images/icons/logo-w.png", alt="Logo")
                    .header-menu
                        nav.nav
                            ul.nav__list
                                li.nav__item
                                    a.nav__link(href="#home") Home
                                li.nav__item
                                    a.nav__link(href="#about") About
                                li.nav__item
                                    a.nav__link(href="#services") Services
                                li.nav__item
                                    a.nav__link(href="#portfolio") Portfolio
                                li.nav__item
                                    a.nav__link(href="#clients") Clients
                                li.nav__item
                                    a.nav__link(href="#contact") Contact
                .main-block
                    .main-block__greeting Hello
                    .main-block__name I am In Young Choi
                    h2.cd-headline.clip
                        span.blc A 
                        span.cd-words-wrapper
                            b.is-visible Frontend Developer
                            b Designer
                    a.mouse(href="#about")
                        .scroll
        section.about#about
            .about-left
                .about-left__pic
                    img.about-left__img(src="assets/images/portrait.jpg", alt="In Young Choi")
            .about-right
                h2.about-right__title About Me.
                .about-right__subtitle Frontend Developer
                .about-right__desc
                    p My name is #[b In Young Choi]. I love coding and developing user-friendly websites. I make Static, Liquid, Adaptive, or Responsive sites, code sites PSD to HTML & CSS. 
                    p I am interested in doing quality work on the conscience and making it nice for you and me. I’m responsible and well organised. 
                    p I like to learn and develop in technology. Not afraid of hard work. I will do my best to work with you. I am always looking for new modern solutions, creative approach, help with advice and offer options for profitable conditions.
                .skills
                    .skillbar.clearfix(data-percent='95%')
                        .skillbar-title(style='background: #d35400;') #[span HTML5]
                        .skillbar-bar(style='background: #e67e22;')
                        .skill-bar-percent 95%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='90%')
                        .skillbar-title(style='background: #2980b9;') #[span CSS3]
                        .skillbar-bar(style='background: #3498db;')
                        .skill-bar-percent 90%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='60%')
                        .skillbar-title(style='background: #2c3e50;') #[span JS/jQuery]
                        .skillbar-bar(style='background: #2c3e50;')
                        .skill-bar-percent 60%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='35%')
                        .skillbar-title(style='background: #46465e;') #[span PHP]
                        .skillbar-bar(style='background: #5a68a5;')
                        .skill-bar-percent 35%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='40%')
                        .skillbar-title(style='background: #333333;') #[span Wordpress]
                        .skillbar-bar(style='background: #525252;')
                        .skill-bar-percent 40%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='70%')
                        .skillbar-title(style='background: #27ae60;') #[span Photoshop]
                        .skillbar-bar(style='background: #2ecc71;')
                        .skill-bar-percent 70%
                    // End Skill Bar
        section.services#services
            h2.about-right__title.services__title Services.
            .services-block
                ul.services__list
                    li.services__item 
                        .services__item-block
                            .services__item-icon
                                i.fa.fa-desktop
                        h5.services__item-title Web development
                        p.services__item-desk I develop custom websites, keeping them unique, functional and modern. Considering the latest technologies like HTML5, CSS3, PHP and more.
                    li.services__item 
                        .services__item-block
                            .services__item-icon
                                i.fa.fa-id-card-o
                        h5.services__item-title Design logos and corporate identity
                        p.services__item-desk When a company begins to consider ways to visually represent themselves, their product, service. Together with you I make an appealing design that suits your business.
                    li.services__item 
                        .services__item-block
                            .services__item-icon
                                i.fa.fa-window-maximize 
                        h5.services__item-title Adaptive development
                        p.services__item-desk A website must be properly viewed on a wide variety of screens. I make sure that your website is always optimally usable on any device.
                    li.services__item 
                        .services__item-block
                            .services__item-icon
                                i.fa.fa-lock 
                        h5.services__item-title Maintenance & Support
                        p.services__item-desk I provide on-going support and maintenance services to ensure that your website always runs smoothly. I provide honest advice and the best possible support for you to reach your goals.
                    li.services__item 
                        .services__item-block
                            .services__item-icon
                                i.fa.fa-file-code-o 
                        h5.services__item-title Website restyling
                        p.services__item-desk I can help you to update it into a modern, user-friendly and responsive website that will convert more visitors into customers and boost your conversion rate.
                    li.services__item 
                        .services__item-block
                            .services__item-icon
                                i.fa.fa-line-chart 
                        h5.services__item-title SEO
                        p.services__item-desk Regardless if you already work, live and breathe the internet or if you’re just about to craft your online presence, there’s one magic term that you’ve probably heard of – SEO. I can help improve the visibility of a website in search engines. The primary function of SEO is to drive more useful traffic to a site that converts into sales.
        section.portfolio#portfolio
            h2.about-right__title.services__title.portfolio__title Portfolio.
            .portfolio-block
                .portfolio-block__item
                    .portfolio-block__pic
                        img.portfolio-block__img(src='assets/images/1.jpg', alt='')
                    span.portfolio-block__title Site Coworking
                    span.portfolio-block__text Static site for coworking place
                .portfolio-block__item
                    .portfolio-block__pic
                        img.portfolio-block__img(src='assets/images/2.jpg', alt='')
                    span.portfolio-block__title Site Future Consulting
                    span.portfolio-block__text Corporate and adaptive site for company
                .portfolio-block__item
                    .portfolio-block__pic
                        img.portfolio-block__img(src='assets/images/3.jpg', alt='')
                    span.portfolio-block__title Site Mr.Burger
                    span.portfolio-block__text PSD to HTML and CSS, added jQuery and JavaScript. Adaptive site for tablets and phones
                .portfolio-block__item
                    .portfolio-block__pic
                        img.portfolio-block__img(src='assets/images/4.jpg', alt='')
                    span.portfolio-block__title Site Rimmc
                    span.portfolio-block__text Corporate and adaptive site for company
        section.clients#clients
            h2.about-right__title.services__title.clients__title Testimonials.
            #testim.testim
                // <div class="testim-cover">
                .wrap
                    span#right-arrow.arrow.right.fa.fa-chevron-right
                    span#left-arrow.arrow.left.fa.fa-chevron-left
                    ul#testim-dots.dots
                        li.dot.active
                        li.dot
                        li.dot
                    #testim-content.cont
                        .active
                            .img
                                img(src='https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg', alt='')
                            h2 Helen Lagay
                            p Working with In Young was better than expected and we had really high expectations. 
                        div
                            .img
                                img(src='https://image.ibb.co/cNP817/pexels_photo_220453.jpg', alt='')
                            h2 Alex Prip
                            p Ian has done a fantastic job overall. Not only the site is to design, the code is very clean and slick. New design for our site.
                        div
                            .img
                                img(src='https://image.ibb.co/iN3qES/pexels_photo_324658.jpg', alt='')
                            h2 Eugenia Abman
                            p In Young helped us create and develop several brand strategies and website. With expertise and understanding of various aspects and platforms we were able to accomplish our goals. 
        .contacts#contact
            h2.about-right__title.services__title.contacts__title Contact me. 
            .form
                form.form__elem#form__elem(action="server.php", method="post")
                    .fifty
                        input.form__input#user-name(type="text" name="user-name" placeholder="Name *" required)
                        input.form__input#user-mail(type="text" name="user-mail" placeholder="Email *" required)
                    textarea.form__input.form__textarea#comment(type="text" name="comment" placeholder="Message *" required)
                    .btn-send
                        button.btn__submit.order__btn(type="submit") Submit
            .socials
                ul.socials__list
                    li.socials__item
                        a.socials__link(href="https://github.com/inyoungch")
                            i.fa.fa-github 
                    li.socials__item
                        a.socials__link(href="mailto:inkatsoy08@gmail.com")
                            i.fa.fa-google
                    li.socials__item
                        a.socials__link(href="https://teleg.run/InYoung08")
                            i.fa.fa-telegram 
                    li.socials__item
                        a.socials__link(href="https://www.instagram.com/in_young_ch/")
                            i.fa.fa-instagram  
        footer.footer
            .footer__left
                .copyright Copy Right 2018 © By In Young Choi. All Rights Reserved.
            .footer__right
                .logo
                    a.logo__link(href="/")
                        .logo__img
                            img.logo__pic(src="assets/images/icons/logo-w.png", alt="Logo")